.login-container {
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.login-form {
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5fa8d3;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    color: #ccc;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #2a2a2a;
    color: white;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #00326e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0055a5;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #777;
}

.google-btn {
    width: 100%;
    padding: 12px;
    background-color: white;
    color: #444;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.google-btn img {
    width: 20px;
    height: 20px;
}

.google-btn:hover {
    background-color: #eaeaea;
}