.welcome-container {
    overflow-x: hidden;
    padding: 40px 20px;;
    background-color: #e0e0e0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.welcome-content {
    background-color: #00152e;
    padding: 50px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.logo-container{
    text-align: center;
}

.welcome-content h1 {
    color: #5fa8d3;
    font-size: 32px;
    margin-bottom: 20px;
}

.logo-header{
    width: 400px;
}

.welcome-content p {
    color: #ccc;
    font-size: 18px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.feature-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.feature-card h3 {
    color: #5fa8d3;
    margin-bottom: 10px;
}

.feature-card p {
    color: #bbb;
    font-size: 14px;
}